html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
u,
ul,
li,
footer,
header{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer,
header{
	display: block;
}

ul{
	list-style: none;
}

html{
	font-size: 16px;
}

body{
	font-family: "Arial", "Helvetica", sans-serif;
	padding: 8px 0 16px;
	overflow-x: hidden;
	background: #000 url("../img/bg.png");
}

.pageFade{
	opacity: 0.75;
	background: #222;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	display: none;
}

.pageWrapper{
	width: 100%;
	max-width: 906px;
	margin: 0 auto;
}

header{
	height: 186px;
	position: relative;
	z-index: 10;
}

.logo{
	width: 282px;
	height: 186px;
	height: auto;
	position: absolute;
	top: 0;
	left: -54px;
	z-index: 11;
}

.logo a{
	width: 282px;
	height: 184px;
	display: block;
	background: url("../img/logo.png");
}

.phoneNumber{
	top: 6px;
	right: 0;
	z-index: 10;
	text-align: center;
}

.numberHeader{
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	margin: 0 0 -8px;
}

.number{
	font-size: 55px;
	font-weight: normal;
	color: #fff;
	margin: 0 0 -8px;
}

.number a{
	color: #fff;
	text-decoration: none;
}

.greyStrip{
	top: 90px;
	right: 0;
	z-index: 9;
	height: 39px;
	width: 100%;
	max-width: 800px;
	background: #313131;
}

.motto{
	margin: 11px 20px 0 0;
	line-height: 17px;
	text-align: right;
}

.mainContent{
	margin: -18px 0 20px;
	padding: 20px;
	box-sizing: border-box;
	background: #313131;
}

.missionStatement{
	font-size: 24px;
	text-align: center;
}

.mission{
	margin: 11px 0 16px;
	z-index: 8;
}

.mission p{
	color: #fc0;
	font-size: 14px;
}

.mission p span{
	display: block;
}

.brands{
	overflow: auto;
	margin: 0 0 20px;
	border: 1px solid #5c5c5c;
	background: #080808;
	box-sizing: border-box;
	padding: 8px 0 12px 10px;
}

.brands h1{
	margin: 0 0 12px;
	font-size: 22px;
}

.brands .listContainer{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.brands ul{
	flex-basis: 15%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.brands li{
	color: #fff;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.locationsArea{
	height: 124px;
	border: 1px solid #5c5c5c;
	margin: 0;
	display: flex;
}

.rightLocations{
	height: 112px;
	width: 668px;
	padding: 12px 0 0 22px;
	background: #0a0a0a url("../img/states.png") no-repeat 98% 50%;
	background-size: 108px 103px;
}

.locationHeader{
	margin: 0 0 6px;
}

.listContainer{
	display: flex;
	flex-wrap: wrap;
}

.listContainer ul{
	flex-basis: 128px;
	list-style: none;
	margin: 0;
}

.listContainer li{
	font-size: 12px;
	color: #fff;
}

.leftImage{
	height: 124px;
	width: 174px;
	background: url("../img/brothers.jpg") no-repeat;
	background-size: cover;
}

.scheduleAppointment{
	clear: both;
	margin: 20px auto 0;
	text-align: center;
}

footer{
	width: 100%;
	max-width: 906px;
	margin: 6px 0 0;
}

footer a{
	color: #fc0;
	text-decoration: none;
}

.address{
	color: #fc0;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	margin: 0 0 4px;
}

.modal,
.statusModal{
	position: absolute;
	transform: translateY(-150%);
	transition: transform .5s;
	left: 50%;
	margin: 0 0 0 -155px;
	width: 310px;
	z-index: 1001;
	border: 5px solid #c40a0a;
	border-radius: 12px;
	background: #080808;
}

.modal.open{
	transform: translateY(10%);
}

#headerStatus{
	margin: 0 0 8px;
	text-transform: uppercase;
}

#status{
	font-size: 12px;
	color: #fff;
	margin: 0 0 12px;
}

textarea{
	margin: 0 0 6px;
	padding: 2px 4px;
	height: 114px;
}

.formLabel{
	font-size: 13px;
}

.text{
	margin: 0 0 8px;
	padding: 4px;
}

.submitAppointment{
	margin: 10px auto;
	text-align: center;
}

.modalContent,
.statusContent{
	padding: 10px;
}

.modalContent h2,
.statusContent h2{
	font-size: 20px;
	margin: 0 0 20px;
}

.statusContent{
	background: #000;
	text-align: center;
}

.closeModal{
	width: 32px;
	height: 32px;
	display: block;
	border-radius: 16px;
	background: #c40a0a;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
}

.closeModal:before,
.closeModal:after{
	content: "";
	display: inline-block;
	width: 4px;
	height: 24px;
	background: #fff;
	position: absolute;
	transform-origin: 2px 12px;
	left: 14px;
	top: 4px;
}

.closeModal:before{
	transform: rotate(45deg);
}

.closeModal:after{
	transform: rotate(-45deg);
}

.statusModal{
	top: 296px;
	z-index: 1002;
	position: absolute;
	display: none;
}

.greyStrip,
.phoneNumber{
	position: absolute;
}

/* High DPI Screen Styles */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
	body{
		background: url("../img/bg@2x.jpg");
	}

	.logo a{
		background: url("../img/logo@2x.png");
		background-size: 282px 184px;
	}

	.leftImage{
		background-image: url("../img/brothers@2x.jpg");
	}

	.rightLocations{
		background-image: url("../img/states@2x.png");
	}
}

@media screen and (max-width: 1008px){
	.logo{
		left: 0;
	}
}

@media screen and (max-width: 880px){
	.rightLocations{
		background-image: none;
	}
}

/* Tablet Styles */
@media screen and (max-width: 799px){
	header{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		height: auto;
		margin: 0 0 20px;
		padding: 0 10px;
	}

	.logo{
		top: auto;
		left: auto;
	}

	.phoneNumber{
		position: static;
		right: auto;
		order: 2;
	}

	.numberHeader{
		margin: 0 0 2px;
	}

	.number{
		margin: 0;
		font-size: 40px;
	}

	.greyStrip{
		right: auto;
		height: auto;
		order: 1;
		background: transparent;
	}

	.motto{
		margin: 0;
		text-align: center;
		line-height: normal;
	}

	.mainContent{
		margin: 0 0 20px;
		padding: 20px 16px;
	}

	.missionStatement{
		font-size: 22px;
	}

	.mission p{
		text-align: center;
	}

	.brands{
		display: block;
		padding: 8px;
		margin: 0 0 20px;
	}

	.brands ul{
		flex-basis: 33.33333333%;
		margin: 0 0 8px;
	}

	.locationsArea{
		height: auto;
	}

	.rightLocations ul{
		flex-basis: 25%;
	}

	footer{
		box-sizing: border-box;
		padding: 0 16px;
	}

	.greyStrip,
	.phoneNumber{
		top: auto;
	}

	.greyStrip,
	.logo{
		margin: 0 0 10px;
		position: static;
	}
}

@media screen and (max-width:736px){
	.mainContent{
		margin: 0;
	}

	.missionStatement{
		font-size: 20px;
	}

	.rightLocations{
		float: none;
		display: block;
		width: 100%;
		height: auto;
		padding: 8px;
	}

	.leftImage{
		display: none;
	}
}

/* Mobile Styles */
@media screen and (max-width:500px){
	.modal,
	.statusModal{
		border: 0;
		margin: 0;
		border-radius: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0 !important;
		overflow-y: scroll;
	}

	.statusModal{
		top: 0 !important;
		display: none;
	}

	.statusModal.statusModal{
		align-items: center;
		justify-content: center;
	}

	.brands ul{
		flex-basis: 50%;
	}

	.rightLocations ul{
		flex-basis: 50%;
	}

	.modal.open{
		transform: translateY(0);
	}
}

#okayButton,
#schedule,
.submitAppointment a{
	font-size: 20px;
	background: #c40a0a;
	border-bottom: 4px solid #630505;
	border-radius: 8px;
	display: inline-block;
	letter-spacing: -0.5px;
	line-height: 22px;
	padding: 12px 16px;
	text-decoration: none;
}

.text,
textarea{
	background: #313131;
	border: 1px solid #717171;
	box-sizing: border-box;
	clear: both;
	color: #fff;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 12px;
	width: 100%;
}

.formLabel,
.mission p span{
	color: #fff;
	font-weight: 700;
	margin: 0 0 4px;
}

.locationHeader,
.motto{
	color: #fff;
	font-size: 17px;
	font-weight: 700;
}

#okayButton,
#schedule,
.submitAppointment a,
.missionStatement,
.statusContent h2,
.brands h1{
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}